*{
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    width: 100vw;
    height: 20vh;
}
.b1 {
    border: 1px solid black;

    background: red;
}
.b2 {
    border: 1px solid black;
    background: blue;
}